.acik{
    --arkaplan:#ECF0F1;
    --yazirengi:#17202A;

    --baslik-arkaplan:#70B1F6 ;
    --baslik--yazirengi:#FFFFFF;

    --menu-arkaplan:#7DCEA0 ;
    --menu--yazirengi:#FFFFFF;

    --menu-arkaplan-uzeri:#70B1F6 ;
    --menu--yazirengi-uzeri:#FFFFFF;


}

