.koyu{
    --arkaplan:#17202A;
    --yazirengi:#ECF0F1;

    --baslik-arkaplan:#446D99;
    --baslik--yazirengi:#ECF0F1;

    --menu-arkaplan:#1E8449 ;
    --menu--yazirengi:#FFFFFF;

    --menu-arkaplan-uzeri:#446D99 ;
    --menu--yazirengi-uzeri:#FFFFFF;
}